@model KisiselSayfa.Models.Classes.Icons
@{
    ViewBag.Title = "getIcon";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ikon Güncelle</h2>
<br />

@using (Html.BeginForm("updateIcon", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.icon)
    @Html.TextBoxFor(x => x.icon, new { @class = "form-control"})
    <br />
    @Html.LabelFor(x => x.link)
    @Html.TextBoxFor(x => x.link, new { @class = "form-control"})
    <br />
    <button class="btn btn-success">Güncelle</button>

}
